body  {
  font-family: 'Pro-Reg';
   overflow-x:hidden !important;
   padding-right: 0 !important
   
}

@font-face {
	font-family: 'Pro-Reg';
	src: url('../fonts/MYRIADPROREGULAR.eot');
	src: local('../fonts/MYRIADPROREGULAR'), url('../fonts/MYRIADPROREGULAR.woff') format('woff'), url('../fonts/MYRIADPROREGULAR.ttf') format('truetype');
}

@font-face {
  font-family: 'Pro-Bold';
  src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Bold.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf')  format('truetype'), url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pro-Light';
  src: url('../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Light.otf')  format('opentype'),	     url('../fonts/MyriadPro-Light.woff') format('woff'), url('../fonts/MyriadPro-Light.ttf')  format('truetype'), url('../fonts/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
.pro-reg {font-family: 'Pro-Reg' !important ;}

.btn-org {font-family: 'Pro-Reg' !important ; font-size:15px; font-weight:normal; line-height:30px;  border-radius:0!important; margin-right:10px; background:#f79e3a; padding:6px 16px; color:#fff !important; }
.btn-gry {font-family: 'Pro-Reg' !important ; font-size:15px; font-weight:normal; line-height:30px;  border-radius:0!important; margin-right:10px; background:#5f6062 !important; color:#fff !important; padding:6px 16px }

.btn-org-rvrs {font-family: 'Pro-bold' !important ; font-size:17px; font-weight:normal; line-height:30px;  border-radius:0!important; margin-right:10px; background:#fff; padding:6px 10px; color:#f79e3a !important; border:2px #f79e3a solid }

.dropdown { margin-top: -1px;}
.p-white {	color:#fff;}
.p-black{color: #0a0a0a;}
.p_15 {	font-size:15px !important;}
.p_14 {	font-size:15px;}
.p_17 {	font-size:17px;}
.p_18 {	font-size:18px !important;}
.p_20 {	font-size:20px;}
.p_24 {	font-size:24px !important;}
.p-56{	font-size: 56px !important;}
.p-48{	font-size: 48px !important;}
.p-w-300{font-weight: 400 !important;}
.p-weight-300{font-weight:300;}
.p_lighter {font-weight:300 !important;	line-height:32px;text-transform: capitalize !important;}
/*h1 {	font-size:46px;	}
h2 {font-size:32px;		}
h3 {font-size:22px;	}
h4 {font-size:18px;	}*/
/* ---------- colors  --------- */
.bg_white{ background: #fff;}
.color_white {color:#fff;}
.bg_gray{background:#edf3f8;}
.bg_light_gray{	background:#f7f7f7 !important;}
.bg_light_gray_2{ background:#F2F2F2;}
/* ---------- Padding  --------- */
.p-l{ padding-left: 20px;}
.p-0{ padding: 0;}
.p-t-10 {padding-top:10px;}
.p-b-10 {padding-bottom:10px;}
.p-t-15 {padding-top:15px;}
.p-b-15 {padding-bottom:15px;}
.p-t-20 {padding-top:20px;}
.p-b-20 {padding-bottom:20px;}
.p-t-25 {padding-top:25px;}
.p-b-25 {padding-bottom:25px;}
.p-t-30 {padding-top:30px;}
.p-b-30 {padding-bottom:30px;}
.p-t-35 {padding-top:35px;}
.p-b-35 {padding-bottom:35px;}
.p-t-40 {padding-top:40px;}
.p-b-40 {padding-bottom:40px;}
.p-t-45 {padding-top:45px;}
.p-b-45 {padding-bottom:45px;}
.p-t-50 {padding-top:50px;}
.p-b-50 {padding-bottom:50px;}
.p-t-55 {padding-top:55px;}
.p-b-55 {padding-bottom:55px;}
.p-t-60 {padding-top:60px;}
.p-b-60 {padding-bottom:60px;}
.p-t-65 {padding-top:65px;}
.p-b-65 {padding-bottom:65px;}
.p-t-70 {padding-top:70px;}
.p-b-70 {padding-bottom:70px;}
.p-t-75 {padding-top:75px;}
.p-b-75 {padding-bottom:75px;}
.p-t-80 {padding-top:80px;}
.p-b-80 {padding-bottom:80px;}
.p-t-85 {padding-top:85px;}
.p-b-85 {padding-bottom:85px;}
.p-t-90 {padding-top:90px;}
.p-b-90 {padding-bottom:90px;}
.p-t-100 {padding-top:100px;}
.p-b-100 {padding-bottom:100px;}
.p-l-0 {padding-left:0}
/* ---------- Margin --------- */
.margin-top-65{margin-top: -65px;}
.m-b-0 {margin-bottom:0 !important}
.m-b-5 {margin-bottom:5px !important} 
.m-t-10 {margin-top:10px;}
.m-b-10 {margin-bottom:10px !important; }
.m-t-15 {margin-top:15px;}
.m-b-15 {margin-bottom:15px;}
.m-t-20 {margin-top:20px;}
.m-b-20 {margin-bottom:20px;}
.m-t-25 {margin-top:25px;}
.m-b-25 {margin-bottom:25px;}
.m-t-30 {margin-top:30px;}
.m-b-30 {margin-bottom:30px;}
.m-t-35 {margin-top:35px;}
.m-b-35 {margin-bottom:35px;}
.m-t-40 {margin-top:40px;}
.m-b-40 {margin-bottom:40px;}
.m-t-45 {margin-top:45px;}
.m-b-45 {margin-bottom:45px;}
.m-t-50 {margin-top:50px;}
.m-b-50 {margin-bottom:50px;}
.m-t-55 {margin-top:55px;}
.m-b-55 {margin-bottom:55px;}
.m-t-60 {margin-top:60px;}
.m-b-60 {margin-bottom:60px;}
.m-t-65 {margin-top:65px;}
.m-b-65 {margin-bottom:65px;}
.m-t-70 {margin-top:70px;}
.m-b-70 {margin-bottom:70px;}
.m-t-75 {margin-top:75px;}
.m-b-75 {margin-bottom:75px;}
.m-t-80 {margin-top:80px;}
.m-b-80 {margin-bottom:80px;}
.m-t-85 {margin-top:85px;}
.m-b-85 {margin-bottom:85px;}
.m-t-90 {margin-top:90px;}
.m-b-90 {margin-bottom:90px;}
.m-t-100 {margin-top:100px;}
.m-b-100 {margin-bottom:100px;}
.m-t-110 {margin-top:110px;}
.m-b-110 {margin-bottom:110px;}

/* ================================= */
/* -------- Header Top Css  -------- */
/* ================================= */


.social-icons li {
	background: #fff;
	border-radius: 100%;
	display: inline-block;
	height:29px;
	line-height:29px;
	margin-right:2px;
	text-align: center;
	width:29px;
	transition:all ease-in .25s
}
.social-icons.text-right > ul {margin-right: 10px;}
.social-icons li:hover {color:#fff;}
.social-icons a {color: #0e1032;display: block; transition:all ease-in .25s}
.social-icons li:hover a {color: #fff;}
a:active, a:hover, a:focus, btn:focus {outline:none;text-decoration:none;}

.btn-solid {
  color: #070c0f;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius:0px;
  padding:8px 40px;
  font-size:15px;
  font-weight:500;
  font-family: 'Pro-Reg';
  margin-right:10px;
}
.btn-solid:focus,
.btn-solid.focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
.btn-solid:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}



.btn-solid-reverse {
  color: #fff;
  background-color: transparent;
  border:2px solid #ffffff;
  padding:4px 20px;
  font-size:15px;
  font-weight:500;
 font-family: 'Pro-Reg';
  margin-left:5px;
  border-radius:20px
}
.btn-solid-reverse:focus, .btn-solid-reverse:active, .btn-solid-reverse:visited,
.btn-solid-reverse.focus {
  color: #fff;
  background-color: #f79e3a !important;
  border-color: #f79e3a !important;
}
.btn-solid-reverse:hover {
  color: #fff;
  background-color: #f79e3a;
  border-color: #f79e3a;
}

nav.navbar li.dropdown ul.dropdown-menu {
	/*border-top:2px solid #56ae32 !important;*/
	border:none !important; 
	top:108%
}
nav.navbar.bootsnav ul.nav > li > a:hover {
	color: #eee;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover, nav.navbar.bootsnav li.dropdown{ 
	color:#222;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li.active > a, .dropdown-menu > li > a:hover {
	color: #222;
}

/* ================================= */
/* ---------- Navbar Css  ---------- */
/* ================================= */
.navbar-nav > li > a {font-family:"Pro-Reg"; font-size:16px; color:#fff; padding:10px 30px}
.navbar-nav > li > a:hover, .navbar-nav > li.active > a {color:#f79e3a;}
.cool-link {
	display: inline-block;
	text-decoration: none;
}
.cool-link::after {
	content: '';
	display: block;
	width: 0;
	height:3px;
	transition: width .3s;
}
.cool-link:hover::after , .cool-link.active:after{
	width: 100%;
}
.wrap-sticky nav.navbar.bootsnav.sticked {
  position: fixed;
  transition: all 0.2s ease-in-out 0s;
  background: #fff;
}
.collapse.navbar-collapse.nav_bor_top {
 /* border-top: 1px solid rgba(255, 0, 0, .5);*/
  
}

/* Navbar Atribute ------*/
nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu {
  left: -219px;
}
.attr-nav > ul > li > a {
	padding: 20px 15px;
}
ul.cart-list > li.total > .btn {
	border-bottom: solid 1px #cfcfcf !important;
	color: #fff !important;
	padding: 10px 15px;
}
.wrap-sticky {
	height:100% !important;
}
.navbar-sticky .social-icons li {
	width: 35px;
	height: 35px;
	line-height: 32px;
}
nav.navbar li.dropdown ul.dropdown-menu {
}
 @media (min-width: 1024px) {
/* Navbar General ------*/
    nav.navbar ul.nav > li > a {
	padding: 30px 15px;
	font-weight: 600;
}
nav.navbar .navbar-brand {
	margin-top: 0;
}
nav.navbar .navbar-brand img.logo {
	width: 50px;
}
nav.navbar .navbar-brand {
	margin-top: 0;
}
nav.navbar .navbar-brand img.logo {
	width:100%;
}
nav.navbar.bootsnav ul.nav > li > a {
  color: #131313;
  font-size: 14px;
  font-weight: 500;
  padding:18px 20px;
  text-transform: uppercase;
  position:relative;
  margin-bottom:2px;
}
.nav.navbar-nav.navbar-left {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
}
nav.navbar.bootsnav ul.nav > li > a:first-child {
	/*padding-left:0 !important;*/
}
nav.navbar.bootsnav ul.nav > li > a:hover {
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover, nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover {
	background-color:transparent;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li.active > a, .dropdown-menu > li > a:hover {
	background-color:transparent;
	text-decoration: none;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a {
	border:none;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
	width:230px;
}
.wrap-sticky .social-icons {
	clear: both;
	float: right;
	padding-top: 15px;
}
/* Navbar Center ------*/
    nav.navbar-center .navbar-brand {
	margin: 0 !important;
}
/* Navbar Brand Top ------*/
    nav.navbar-brand-top .navbar-brand {
	margin: 10px !important;
}
/* Navbar Full ------*/
    nav.navbar-full .navbar-brand {
	position: relative;
	top: -15px;
}
/* Navbar Sidebar ------*/
    nav.navbar-sidebar ul.nav, nav.navbar-sidebar .navbar-brand {
	margin-bottom: 50px;
}
nav.navbar-sidebar ul.nav > li > a {
	padding: 10px 15px;
	font-weight: bold;
}
/* Navbar Transparent & Fixed ------*/
    nav.navbar.bootsnav.navbar-transparent.white {
	background-color: rgba(255,255,255,0.3);
	border-bottom: solid 1px #bbb;
}
nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark, nav.navbar.bootsnav.navbar-transparent.dark {
	background-color:transparent;
	border-bottom:none;
}
nav.navbar.bootsnav.navbar-transparent.white .attr-nav {
	border-left: solid 1px #bbb;
}
nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark .attr-nav, nav.navbar.bootsnav.navbar-transparent.dark .attr-nav {
	border-left: solid 1px #555;
}
nav.navbar.bootsnav.no-background.white .attr-nav > ul > li > a, nav.navbar.bootsnav.navbar-transparent.white .attr-nav > ul > li > a, nav.navbar.bootsnav.navbar-transparent.white ul.nav > li > a, nav.navbar.bootsnav.no-background.white ul.nav > li > a {
	color: #fff;
}
nav.navbar.bootsnav.navbar-transparent.dark .attr-nav > ul > li > a, nav.navbar.bootsnav.navbar-transparent.dark ul.nav > li > a {
	color: #eee;
}
}
 @media (max-width: 992px) {
/* Navbar General ------*/
    nav.navbar .navbar-brand {
	margin-top: 0;
	position: relative;
	top: -2px;
}
nav.navbar .navbar-brand img.logo {
	width: 30px;
}
.attr-nav > ul > li > a {
	padding: 16px 15px 15px;
}
/* Navbar Mobile slide ------*/
    nav.navbar.navbar-mobile ul.nav > li > a {
	padding: 15px 15px;
}
nav.navbar.navbar-mobile ul.nav ul.dropdown-menu > li > a {
	padding-right: 15px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}
nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu .title {
	padding-right: 30px !important;
	padding-top: 13px !important;
	padding-bottom: 13px !important;
}
nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a {
	padding-top: 13px !important;
	padding-bottom: 13px !important;
}
/* Navbar Full ------*/
     nav.navbar-full .navbar-brand {
	top: 0;
	padding-top: 10px;
}
}
/* Navbar Inverse
=================================*/
nav.navbar.navbar-inverse {
	background-color: #222;
	border-bottom: solid 1px #303030;
}
nav.navbar.navbar-inverse ul.cart-list > li.total > .btn {
	border-bottom: solid 1px #222 !important;
}
nav.navbar.navbar-inverse ul.cart-list > li.total .pull-right {
	color: #fff;
}
nav.navbar.navbar-inverse.megamenu ul.dropdown-menu.megamenu-content .content ul.menu-col li a, nav.navbar.navbar-inverse ul.nav > li > a {
	color: #eee;
}
nav.navbar.navbar-inverse ul.nav > li.dropdown > a {
	background-color: #222;
}
nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu > li > a {
	color: #999;
}
nav.navbar.navbar-inverse ul.nav .dropdown-menu h1, nav.navbar.navbar-inverse ul.nav .dropdown-menu h2, nav.navbar.navbar-inverse ul.nav .dropdown-menu h3, nav.navbar.navbar-inverse ul.nav .dropdown-menu h4, nav.navbar.navbar-inverse ul.nav .dropdown-menu h5, nav.navbar.navbar-inverse ul.nav .dropdown-menu h6 {
	color: #fff;
}
nav.navbar.navbar-inverse .form-control {
	background-color: #333;
	border-color: #303030;
	color: #fff;
}
nav.navbar.navbar-inverse .attr-nav > ul > li > a {
	color: #eee;
}
nav.navbar.navbar-inverse .attr-nav > ul > li.dropdown ul.dropdown-menu {
	background-color: #222;
	border-left: solid 1px #303030;
	border-bottom: solid 1px #303030;
	border-right: solid 1px #303030;
}
nav.navbar.navbar-inverse ul.cart-list > li {
	border-bottom: solid 1px #303030;
	color: #eee;
}
nav.navbar.navbar-inverse ul.cart-list > li img {
	border: solid 1px #303030;
}
nav.navbar.navbar-inverse ul.cart-list > li.total {
	background-color: #333;
}
nav.navbar.navbar-inverse .share ul > li > a {
	background-color: #555;
}
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu {
	border-right: solid 1px #303030;
}
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a {
	border-bottom: solid 1px #303030;
}
nav.navbar.navbar-inverse .dropdown-tabs .tab-content {
	border-left: solid 1px #303030;
}
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a:hover, nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a:focus, nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li.active > a {
	background-color: #333 !important;
}
nav.navbar-inverse.navbar-full ul.nav > li > a {
	border:none;
}
nav.navbar-inverse.navbar-full .navbar-collapse .wrap-full-menu {
	background-color: #222;
}
nav.navbar-inverse.navbar-full .navbar-toggle {
	background-color: #222 !important;
	color: #6f6f6f;
}
 @media (min-width: 1024px) {
nav.navbar.navbar-inverse ul.nav .dropdown-menu {
	background-color: #222 !important;
	border-left: solid 1px #303030 !important;
	border-bottom: solid 1px #303030 !important;
	border-right: solid 1px #303030 !important;
}
nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu > li > a {
	border-bottom: solid 1px #303030;
}
nav.navbar.navbar-inverse ul.dropdown-menu.megamenu-content .col-menu {
	border-left: solid 1px #303030;
	border-right: solid 1px #303030;
}
nav.navbar.navbar-inverse.navbar-transparent.dark {
	background-color: rgba(0,0,0,0.3);
	border-bottom: solid 1px #999;
}
nav.navbar.navbar-inverse.navbar-transparent.dark .attr-nav {
	border-left: solid 1px #999;
}
nav.navbar.navbar-inverse.no-background.white .attr-nav > ul > li > a, nav.navbar.navbar-inverse.navbar-transparent.dark .attr-nav > ul > li > a, nav.navbar.navbar-inverse.navbar-transparent.dark ul.nav > li > a, nav.navbar.navbar-inverse.no-background.white ul.nav > li > a {
	color: #fff;
}
nav.navbar.navbar-inverse.no-background.dark .attr-nav > ul > li > a, nav.navbar.navbar-inverse.no-background.dark .attr-nav > ul > li > a, nav.navbar.navbar-inverse.no-background.dark ul.nav > li > a, nav.navbar.navbar-inverse.no-background.dark ul.nav > li > a {
	color: #3f3f3f;
}
}
@media (max-width: 992px) {
nav.navbar.navbar-inverse .navbar-toggle {
	color: #eee;
	background-color: #222 !important;
}
nav.navbar.navbar-inverse .navbar-nav > li > a {
	border-top: solid 1px #303030;
	border-bottom: solid 1px #303030;
}
nav.navbar.navbar-inverse ul.nav li.dropdown ul.dropdown-menu > li > a {
	color: #999;
	border-bottom: solid 1px #303030;
}
nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu .title {
	border-bottom: solid 1px #303030;
	color: #eee;
}
nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu ul > li > a {
	border-bottom: solid 1px #303030;
	color: #999 !important;
}
nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu.on:last-child .title {
	border-bottom: solid 1px #303030;
}
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul {
	border-top: solid 1px #303030;
}
nav.navbar.navbar-inverse.navbar-mobile .navbar-collapse {
	background-color: #222;
}
}
@media (max-width: 767px) {
nav.navbar.navbar-inverse.navbar-mobile ul.nav {
	border-top: solid 1px #222;
}
}

.nav-logo { margin-right:0px; margin-left:25px;  background-repeat:no-repeat; float:left; }

#home-wrapper {background:url(../img/body-bg.png); background-size:cover; background-position:center center; min-height:760px; width:100%; position:relative}
.top-header { z-index:999; padding-top:20px; /*height:150px;*/ border-bottom:18px #f79e3a solid; padding-bottom:30px}

.top-header-inside { z-index:999;  height:100px;  background:#f79e3a }
.top-header-inside a:hover {color:#333 !important }
.top-header-inside .horizontal  {margin-top:30px}
 .top-header-inside .nav-logo {margin-top:15px}
.top-header-inside .nav.navbar-nav.navbar-left {margin-top:40px}
.horizontal {
   display:inline-block;
    margin-top: 50px;
	padding-left:0;
}

.horizontal li {
    padding: 6px 5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: #fff solid 2px;
    height: 36px;
    width: 36px;
	margin-right:2px
}

.horizontal li a {
    color: white;
    font-size: 15px;
}
.horizontal li a:hover {
    color: #f79e3a;
    font-size: 15px;
	 
}

.top-btns {display:inline-block; margin-top:52px;padding-left:0; margin-right:15px}
.top-btns li {display:inline-block;}

.hm-title {text-align:center; margin-top:170px}
.hm-title h1 {color:#fff; font-size:54px; font-family:"pro-light"; margin-bottom:10px !important}
.hm-title h2 {color:#fff; font-size:30px; font-family:"pro-light"; margin-top:0}

.hm-title2 {text-align:center; margin-top:160px}
.hm-title2 h1 {color:#fff; font-size:54px; font-family:"pro-light"; margin-bottom:10px !important}
.hm-title2 h2 {color:#fff; font-size:30px; font-family:"pro-light"; margin-top:0}

#track-search{ margin:25px auto}

#track-search input[type=text] {
    height: 50px;
    width: 495px;
    vertical-align: top;
    margin-right: 3px;
   border-radius:30px;
    border: 1px solid #fff;
    background: transparent;
    line-height: 20px;
    padding: 5px 10px 5px 20px;
    color: #fff;
    font-size: 16px;
	font-family:"Pro-Reg";
    box-shadow: none !important;
}
#track-search input[type=text]:focus, .btn-custom-3:focus { outline:none !important}
#track-search input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
	 font-size: 16px;
	font-family:"Pro-Reg";
}
#track-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
    font-size: 16px;
	font-family:"Pro-Reg";
   opacity:  1;
}
#track-search input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
    font-size: 16px;
	font-family:"Pro-Reg";
   opacity:  1;
}
#track-search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
    font-size: 16px;
	font-family:"Pro-Reg";
}
#track-search input::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
    font-size: 16px;
	font-family:"Pro-Reg";
}
#track-search .btn {
    padding: 12px 20px;
    line-height: 20px;
    font-family: 'Pro-Bold' !important;
    width: 120px;
	height:50px;
}

.btn-custom-3 {
	color: #fff;
	background-color: #f79e3a;
	font-size:22px;
	border-radius:30px
}

.btn-custom-3:hover {
	color: #fff;
	background-color: #f79e3a;
}
.contents {min-height:400px}
footer {background:#5f6062; min-height:96px;  width:100%; padding-top:15px}
.foter-logo {border-right:2px solid #fff; width:100px; padding-bottom:5px; margin-right:15px; float:left}
.copyrights {float:left; padding-top:18px}
.copyrights p, .copyrights a {color:#fff; margin-bottom:0; font-size:13px; font-family:pro-light}
footer .horizontal {margin-top:20px}

.results {width:620px; text-align:center; margin:35px auto 75px}
.results .table-bordered > tbody > tr > td {color:#fff}
.results .table-responsive {width:560px}

#squarespaceModal-4 .modal-dialog, #squarespaceModal-6 .modal-dialog, #squarespaceModal-5 .modal-dialog, #squarespaceModal-7 .modal-dialog, #squarespaceModal-3 .modal-dialog, #squarespaceModal-2 .modal-dialog, #squarespaceModal-1 .modal-dialog, #squarespaceModal-8 .modal-dialog, #squarespaceModal-9 .modal-dialog, #squarespaceModal-77 .modal-dialog  {margin-top:220px}
#squarespaceModal-2 .modal-dialog {width:600px}
#squarespaceModal-4 .modal-body, #squarespaceModal-6 .modal-body, #squarespaceModal-5 .modal-body, #squarespaceModal-7 .modal-body, #squarespaceModal-3 .modal-body, #squarespaceModal-2 .modal-body, #squarespaceModal-1 .modal-body, #squarespaceModal-8 .modal-body, #squarespaceModal-9 .modal-body, #squarespaceModal-77 .modal-body  {border-radius:20px}
#squarespaceModal-2 .modal-body {padding:10px 20px 20px}
.logo-mdl {margin-top:75px; margin-bottom:90px}
.log-title {font-size:23px; color:#f79e3a; font-family:pro-bold}
.log-title2 {font-size:37px; color:#f79e3a; font-family:pro-bold}
.pick-title2 {font-size:32px; color:#f79e3a; font-family:pro-bold}
.pick-title {font-size:17px; color:#5f6062; font-family:"Pro-Reg"; margin-bottom:5px; margin-top:5px}
.chk {font-size:16px; color:#5f6062}
a.chk:hover {color:#f79e3a}
.nwbtn3 {border-radius:20px; margin-top:0px; margin-bottom:5px; color:#fff; background:#f79e3a; font-size:18px; font-family:pro-bold; min-width:110px; height:40px}
.nwbtn3:hover {color:#fff}
.nwbtn3:focus {outline:none !important}

.slct {-webkit-appearance:none; color:#939494 !important; appearance:none; -moz-appearance:none; background:url(../img/drop.png); background-position: 94%  center; background-repeat:no-repeat}
.thnk-title {color:#5f6062; font-size:19px; margin:0}
.thnk-img {margin-top:25px; margin-bottom:25px}

.overlay-bg {background:rgba(95,96,98, .77); height:100%; width:100%}

.accnt {background:#5f6062; height:100px; width:190px; float:right; margin-right:40px; color:#fff;  padding:15px 23px }
.accnt a, .accnt a:hover {color:#fff !important}
.accnt h4 {font-family:pro-bold; margin-top:0; margin-bottom:0px; font-size:16px}
.accnt h3 {margin-top:5px; margin-bottom:5px}
.accnt p {color:#f79e3a; font-size:12px}
.dshbrd {margin-top:90px; margin-bottom:130px}
.dshbrd h1 {color:#5f6062; font-family:pro-light; font-size:52px; margin-bottom:30px}

.dsh-item {background:#5f6062; height:154px; width:154px; border-radius:20px; text-align:center; color:#fff !important; font-family:pro-light; padding:30px 20px ; margin-bottom:25px}
.dsh-item a {color:#fff;}
.dsh-item a:hover {color:#f79e3a}
.dsh-item img {}

.profile {padding-top:35px; padding-bottom:50px}
.profile h3 a {color:#5f6062; font-size:23px; font-family:pro-light}
.profile-details {margin-top:20px; margin-bottom:30px}
.profile-details h1::before {background:url(../img/prof-user.png); width:57px; margin-right:15px; content:""; margin-top:-10px; height:57px; display:inline-block; vertical-align:middle}
.profile-details h1 {font-family:pro-light; color:#5f6062; margin-top:35px}
.orang {font-family:"Pro-Reg"; font-size:22px; color:#f79e3a}
.orangy {color:#f79e3a !important}
.profile-details h3 {color:#5f6062; font-size:17px; font-family:"Pro-Reg"}
.green {color:#03b010}
.red {color:#F00}
ul.status {padding-left:0; margin-top:25px}
ul.status li {display:inline-block; margin-right:10px; font-size:17px; color:#5f6062}
#user-form {margin-top:25px; margin-bottom:20px; width:75%}
#user-form label {display:inline-block; width:30%; font-size:17px; color:#5f6062; font-weight:normal}
#user-form .form-control {display:inline-block; width:69%; border-color:#c9c9c9 !important}

#user-form input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #5f6062;
	 font-size: 17px;
	font-family:"Pro-Reg";
}
#user-form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #5f6062;
    font-size: 17px;
	font-family:"Pro-Reg";
   opacity:  1;
}
#user-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #5f6062;
    font-size: 17px;
	font-family:"Pro-Reg";
   opacity:  1;
}
#user-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #5f6062;
    font-size: 17px;
	font-family:"Pro-Reg";
}
#user-form input::-ms-input-placeholder { /* Microsoft Edge */
   color:    #5f6062;
    font-size: 17px;
	font-family:"Pro-Reg";
}
#user-form button {margin-bottom:10px; margin-top:25px}
.no-radius {border-radius:0 !important  }

.shipping {padding-top:102px; margin-bottom:20px}
.shipping p {font-size:17px; color:#5f6062; font-family:"Pro-Reg"; margin-bottom:5px}
.shipping p span {font-family:pro-bold; float:right}


.orders {padding-top:35px; padding-bottom:0px}
.orders h3 a {color:#5f6062; font-size:23px; font-family:pro-light}
.dash-pages {margin-top:20px; margin-bottom:30px}
.new-order h1:before{background:url(../img/nword.png);}
.myorders h1::before {background:url(../img/orders.png);}
.fnancee h1::before {background:url(../img/finance.png);}
.support h1::before {background:url(../img/supporty.png);}
.dash-pages h1::before { width:57px; margin-right:15px; content:""; margin-top:-10px; height:57px; display:inline-block; vertical-align:middle}
.dash-pages h1 {font-family:pro-light; color:#5f6062; margin-top:15px; font-size:33px}
.main-table { font-size:16px; font-family:"Pro-Reg"; color:#5f6062 !important; margin-top:13px}
.main-table thead tr th, .main-table thead tr, .main-table tbody, .main-table tfoot {border:solid 1px #7b7b7b; border-collapse:collapse; color:#5f6062 !important; font-weight:normal !important}
.orders-table {position:relative}
#orders {position: absolute;
    right: 0px;
    top: -50px;
	width:79%}
.main-table tbody tr td {border:none; border-right:solid 1px #7b7b7b; padding-top:15px; padding-bottom:35px}
.main-table tfoot tr td {border:none; border-right:solid 1px #7b7b7b;}
.orang-bg {background:#f79e3a; color:#505050}
.exl {background:url(../img/exl.png); width:32px; height:32px; margin-right:10px; display:inline-block; vertical-align:bottom}
.prnt {background:url(../img/print.png); width:32px; height:32px; display:block; vertical-align:bottom}
.dwnld {background:url(../img/dwnld.png); width:32px; height:32px; display:inline-block; margin-left:-10px; vertical-align:bottom}
.plusy {background:url(../img/plusy.png); width:32px; height:32px; margin-left:-10px; margin-right:0px; display:inline-block; vertical-align:bottom}
.nw-btn {width:100%; padding:4px 16px; line-height:33px}

.pagination > li > a, .pagination > li > span {
	position: relative;
	float: left;
	line-height: 28px !important;
	text-decoration: none !important;
	color: #555 !important;
	background-color: white !important;
	margin-left: -1px;
	text-transform: uppercase;
	font-size: 16px;
	transition: all .3s;
	text-align: center;
	width: 22px !important;
	height: 28px !important;
	border: 1px solid #969696 !important;
	border-radius: 0px;
}

.pagination > li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 4px !important;
}

.pagination {
	padding-left: 0;
	margin: 15px 0 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
	margin-right: 0px;
	border:none !important;
	font-size:18px;
	color:#555 !important;
	padding-top:2px;
}
.pagination > .active > a, .pagination > .active > span, .pagination a:hover, .pagination span:hover, .pagination a:focus, .pagination span:focus {
	border-color: transparent !important; 
	background:#f79e3a !important;
	color:#fff !important
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 2;
	cursor: default;
	border-width: 1px !important;
	line-height: 28px !important;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
	margin-left: 0px;
	border:none !important;
	font-size:18px;
	color:#555 !important;
	padding-top:2px;
}

.pagination > li:last-child > a:hover, .pagination > li:first-child > a:hover {background:transparent !important}
.tim {cursor:default}
#new-order {margin-top:15px; margin-bottom:75px}
#new-order textarea{min-height:98px; resize:none; padding:10px 15px; font-size:16px; color:#acacac !important} 
#new-order .form-group {position:relative}
#new-order  .form-group .palceholder {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #acacac;
  display: none;
}
#new-order .form-group label {
  font-weight: normal;
  color: #acacac;
  font-size:16px;
  font-family:pro-reg;
  line-height:30px
}
.form-group .star {
  color: red;
}


.width-980 {width:980px}
.inlin {display:inline-block}
.neg-mrgn {    margin-top: -9px;
    float: left;
    margin-left: -9px;
    margin-bottom: -9px;}
	
	.file-upload1 {
	position: relative;
	display: block;
}

.file-upload__label {
 /* display: block !important;
  padding: .65em 2em !important;
  color: #555 !important;
  background: #e6e6e6 !important;
  border-radius: 3px !important;
  transition: background .3s;
  width:100% !important;
  text-align:center !important;
  cursor:pointer;
  font-weight:bold !important;
  font-size:14px !important;
  border:1px solid #ccc !important;*/
 float:right;
 margin-right:0 !important
}
.nw-pad {padding:2px 24px; }
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}
.gry {color:#5f6062}


.chat-box, .enter-message{
  background:#fff;
  padding:20px;
  color:#a1a1a1;
  
  
}
.chat-box {border:#7b7b7b solid 1px; margin-top:20px; margin-bottom:30px}
.chat-box .message-box{
  /*padding:18px 0 10px;*/
  clear:both;
  border-radius:10px
}
.message-box .picture{
  float:left;
  width:50px;
  display:block;
  padding-right:10px;
}
.picture img{
  width:43px;
  height:48px;
  border-radius:5px;
}
.picture span{
  font-weight:bold;
  font-size:12px;
  clear:both;
  display:block;
  text-align:center;
  margin-top:3px;
}
.message{
 
  display:inline-block;
  padding:12px;
  width:300px;
  border-radius:2px;
  position:relative;
}
.left-img:before{
  content:"";
  position:absolute;
  display:block;
  left:0;
  background:url(../img/right-msg.png);
  width:27px;
  height:12px;
  bottom:-12px;
}
.right-img:before{
  content:"";
  position:absolute;
  display:block;
  right:0;
  background:url(../img/left-msg.png);
  width:27px;
  height:12px;
  bottom:-12px;
}
.message span{
  color:#555;
  font-weight:bold;
}
.message p{
  padding-top:5px;
}
.message-box.right-img .picture{
  float:right;
  padding:0;
  padding-left:10px;
}
.message-box.right-img .picture img{
  float:right;
}
.message-box.right-img .message:before{
  left:100%;
  margin-right:6px;
  margin-left:0;
  border-right:6px solid transparent;
  border-left:6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom:6px solid transparent;
}
.enter-message{
  padding:13px 0px;
  margin-top:20px;
}
.enter-message input.msg {
    border: #a6a7a8 solid 1px;
    padding: 10px 12px;
    background: #fff;
    width: 88%;
    border-radius: 0;
    height: 80px;
	float:left;
}
.enter-message .file-upload1 {float:right; width:11%; }
.enter-message .file-upload1 label {padding:2px 16px}
.enter-message button {float:right; width:11%; margin-right:0; margin-bottom:7px}
.enter-message input.msg:focus { border: #a6a7a8 solid 1px !important; outline:#111 !important}
.enter-message a.send{
  padding:10px 15px;
  background:#6294c2;
  border-radius:2px;
  float:right;
}

.message-box.left-img {float:left; background:#e2e2e2; color:#333; position:relative; margin-bottom:10px; margin-top:10px}
.message-box.right-img {float:right; background:#fce0c0; color:#333; position:relative;  margin-bottom:10px; margin-top:10px} 
.new-upload {display:inline-block; margin-right:10px}
.new-upload .file-upload__label {float:none; }

.new-from .form-control input {color:#fff !important}

.lft {
	padding-left: 0 !important;
	padding-right: 5px;
}
.p-0{ padding: 0;}

.p-form {display: inline-block;
	width: 69%;
	border:solid 1px #c9c9c9 !important;
	padding:10px 5px 10px 8px;
	font-size:14px
}
.nw-dwnld {font-size: 11px;
	padding: 3px !important;
	/* height: 20px; */
	line-height: normal;
	margin-top:2px}

.main-table a {
	color: #f99d1e;
}
